---
layout: page
title: FIPS 201 Approved Product List
permalink: sell/fips201apl/
custom_js:
  - guides
---

{% assign categories = "" | split: "" %}
{% for apl in site.fips201apl %}
  {% assign categoryName = apl.category | strip %}
  {% assign categories = categories | push: categoryName | uniq | sort %}
  {% assign topologyName = apl.topology | strip %}
  {% assign topologies = topologies | push: topologyName | uniq | sort %}
{% endfor %}
{% assign categories = categories | uniq | sort %}

<p>The Approved Products List (APL) provides federal agencies with products and services that have been approved for FICAM implementation based on rigorous security vulnerability and interoperability testing performed by the FIPS 201 Evaluation Program. Use this page to filter by product category. Products and services that have lost their FIPS 201 certification are placed on the Removed Products List (RPL). If you’re looking for a specific product on the APL and can’t find it, it may no longer be approved for use. Due to security concerns, products on the RPL are not recommended for government procurement. Products will be removed from the RPL after 3 years.</p>

<p>Once you’ve identified the product you want, learn how to purchase it through GSA Schedules or other procurement vehicles on our <a href="/buy/">Buy Overview Page</a></p>

<p>We encourage comments via opening an issue at our <a href="https://github.com/GSA/playbooks-wdsv2/issues">GitHub repo</a>.</p>

<div class="grid-col-3">
  <fieldset class="usa-fieldset-inputs fips201apl-filter">
    <legend>Categories</legend>
    <ul class="usa-unstyled-list">
      {% for category in categories %}
      <li>
        <input class="fips201apl-filter-category" id="category-{{ category | slugify }}" type="checkbox" name="categories" value="{{ category }}" checked>
        <label for="category-{{ category | slugify }}">{{ category }}</label>
      </li>
      {% endfor %}
    </ul>
    <legend>PACS Topology</legend>
    <ul class="usa-unstyled-list">
      {% for topology in topologies %}
      <li>
        <input class="fips201apl-filter-category" id="topology-{{ topology | slugify }}" type="checkbox" name="topologies" value="{{ toplogy }}" checked>
        <label for="category-{{ topology | slugify }}">{{ topology }}</label>
      </li>
      {% endfor %}
    </ul>
  </fieldset>
</div>

<div class="usa-width-three-fourths">
  <table class="usa-table-borderless">
    <thead class="usa-sr-only">
      <tr>
        <th id="fips201apl-table-heading-title" scope="col">Title</th>
        <th id="fips201apl-table-heading-category" scope="col">Category</th>
        <th id="fips201apl-table-heading-audience" scope="col">PACS Topology</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
        <tr class="fips201apl-table-category-heading" data-category="{{ category }}">
          <th colspan="2" class="fips201apl-table-heading" id="fips201apl-table-heading-{{ category | slugify }}"><b>{{ category }} Guides</b></th>
        </tr>
        {% for apl in site.fips201apl %}
          {% if apl.category == category %}
            <tr class="fips201apl-table-row" data-category="{{ apl.category }}">
              <td headers="fips201apl-table-heading-{{ category | slugify }} fips201apl-table-heading-title"><a href="{{ apl.url | prepend: site.baseurl }}">{{ apl.title }}</a></td>
              <td headers="fips201apl-table-heading-{{ category | slugify }} fips201apl-table-heading-category">{{ apl.category }}</td>
            </tr>
          {% endif %}
        {% endfor %} <!--fips201apl-->
      {% endfor %}<!--category-->
    </tbody>
  </table>
</div>
