---
layout: page
title: FIPS 201 Approved Product List
permalink: sell/fips201apl/
custom_js:
  - guides
---

{% assign categories = "" | split: "" %}
{% for guide in site.guides %}
  {% assign categoryName = guide.category | strip %}
  {% assign categories = categories | push: categoryName | uniq | sort %}
{% endfor %}
{% assign categories = categories | uniq | sort %}

<h1>FIPS 201 Approve Product List (APL)</h1>

<p>The Approved Products List (APL) provides federal agencies with products and services that have been approved for FICAM implementation based on rigorous security vulnerability and interoperability testing performed by the FIPS 201 Evaluation Program.</p>

<p>Categories of products that are tested and approved for use include: Card, Card Holders, and Physical Access Control System (PACS) components.</p>

<p>Once you’ve identified the product you want, learn how to purchase it through GSA Schedules or other procurement vehicles on our <a href="/buy/">Buy Overview Page</a></p>

<p>Products and services that have lost their FIPS 201 certification are placed on the Removed Products List (RPL). If you’re looking for a specific product on the APL and can’t find it, it may no longer be approved for use. Due to security concerns, products on the RPL are not recommended for government procurement. Products will be removed from the RPL after 3 years.</p>

<p>We encourage comments via opening an issue at our <a href="https://github.com/GSA/playbooks-wdsv2/issues">GitHub repo</a>.</p>

<div class="usa-width-one-fourth">
  <fieldset class="usa-fieldset-inputs guides-filter">
    <legend>Categories</legend>
    <ul class="usa-unstyled-list">
      {% for category in categories %}
      <li>
        <input class="guides-filter-category" id="category-{{ category | slugify }}" type="checkbox" name="categories" value="{{ category }}" checked>
        <label for="category-{{ category | slugify }}">{{ category }}</label>
      </li>
      {% endfor %}
    </ul>
  </fieldset>
</div>

<div class="usa-width-three-fourths">
  <table class="usa-table-borderless">
    <thead class="usa-sr-only">
      <tr>
        <th id="guides-table-heading-title" scope="col">Title</th>
        <th id="guides-table-heading-description" scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
        <tr class="guides-table-category-heading" data-category="{{ category }}">
          <th colspan="2" class="guides-table-heading" id="guides-table-heading-{{ category | slugify }}"><b>{{ category }} Guides</b></th>
        </tr>
        {% for guide in site.guides %}
          {% if guide.category == category %}
            <tr class="guides-table-row" data-category="{{ guide.category }}">
              <td headers="guides-table-heading-{{ category | slugify }} guides-table-heading-title"><a href="{{ guide.url | prepend: site.baseurl }}">{{ guide.title }}</a></td>
              <td headers="guides-table-heading-{{ category | slugify }} guides-table-heading-description">{{ guide.description }}</td>
            </tr>
          {% endif %}
        {% endfor %} <!--guide-->
      {% endfor %}<!--category-->
    </tbody>
  </table>
</div>
