_site
.sass-cache
.jekyll-metadata
node_modules
.bundle
.jekyll-cache/
idmv2.code-workspace
Vagrantfile
.vagrant/machines/default/virtualbox/action_provision
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/box_meta
.vagrant/machines/default/virtualbox/creator_uid
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/private_key
.vagrant/machines/default/virtualbox/synced_folders
.vagrant/machines/default/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
