---
permalink: /search/
layout: wide
title: Search Results
---
<section class="usa-layout-docs usa-layout-docs__main grid-container">
  <div class="usa-prose margin-top-4 margin-bottom-2">
    <h1>{{ page.title }}</h1>
  </div>
</section>

<section class="usa-graphic-list grid-container">
{% if site.searchgov %}
<div class="display-none"
  id="searchgov-params"
  data-endpoint="{{site.searchgov.endpoint}}"
  data-affiliate="{{site.searchgov.affiliate}}",
  data-access-key="{{site.searchgov.access_key}}",
  ></div>
  <div id="results-header" class="display-none">
    <span id="results-count"></span> results for "<span id="search-keyword" class="text-bold"></span>"
  </div>
  <ol id="search-results" class="margin-0" class="display-none" start="1"></ol>
  <div id="no-results" class="display-none">
    <p>Sorry, no results were found for '<span id="search-params"></span>'. Try entering fewer or more general search terms.</p>
    <p>If you're having trouble finding something, please email us at <a href="mailto:icam@gsa.gov">icam@gsa.gov</a> and let us know what you're looking for.
      In the meantime, you might want to check out the following links:
    <p>
    <ul>
      <li><a href="{{site.baseurl}}/fpki/#audit-information-for-the-fpki-management-authority">FPKI Compliance</a></li>
      <li><a href="{{site.baseurl}}/trust-services/">Trust Services</a></li>
      <li><a href="{{site.baseurl}}/fips201/">Approved Products List</a></li>
      <li><a href="{{site.baseurl}}/fips201/#how-to-purchase">Buy FICAM Products and Services</a></li>
      <li><a href="{{site.baseurl}}/acquisition-professionals/#products">Sell FICAM Products and Services</a></li>
      <li><a href="{{site.baseurl}}/university/pm/">Manage ICAM Programs</a></li>
      <li><a href="{{site.baseurl}}/playbooks/">Build ICAM Systems</a></li>
    </ul>

  </div>
  <div id="pager" class="text-center margin-top-5 margin-bottom-2"></div>

  {% if site.searchgov.affiliate == "federalist-uswds-example" %}
    <div class="usa-alert usa-alert--info">
      <div class="usa-alert__body">
        This is an example. You will need to configure your site with search.gov to see the correct search results. To do this:
        <ol>
          <li>Create an account with Search.gov at <a href="https://search.usa.gov/signup">https://search.usa.gov/signup</a></li>
          <li>Go to the "Activate" section and get "API Access Key"</a></li>
          <li>Open <code>_config.yml</code> and look for <code>searchgov</code> fields</li>
          <li>Add your <code>affiliate</code> and <code>access_key</code></li>
          <li>Your results will not show up immediately. Make sure you follow <a href="https://search.gov/manual/searchgov-for-federalist.html">instructions to index your site</a>.</li>
        </ol>
      </div>
    </div>
  {% endif %}
{% else %}
  <script>
    window.location = "/";
  </script>
{% endif %}
</section>
