<div class="usa-alert usa-alert-info">
   <div class="usa-alert-body">
      <center>
         <h2>Pardon our Dust.</h2>
         <p class="usa-alert-text">
            Welcome to the new site for <b>Federal Identity, Credential, and Access Management (FICAM)</b> Playbooks! We are consolidating all existing FICAM and <b>Federal Public Key Infrastructure (FPKI)</b> playbooks to this new page to help you find answers and content faster. Please bookmark this URL for future reference. 
         </p>
      </center>
   </div>
 </div>
