<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col">
          <div class="logo-links">
            <a class="footer-logo media_link" href="https://www.gsa.gov">
              {% asset logo-gsa.png width="50" alt="GSA Logo" %}
            </a>
            <a class="footer-logo media_link" href="https://cio.gov">
              {% asset logo-cio.png width="50" alt="Federal CIO Council Logo" %}
            </a>
          </div>
        </div>
        <div class="tablet:grid-col"></div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li><a href>="/privacy-policy/"><Privacy Policy></li>
            <li><a href>=/website-policy/><Website Policy></li>
             <li><a href>="/license/"><License></li>
          </ul>
        </div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li>Have an Idea? Read our Contribution Guidelines. </li>
            <li>Need an Update? Suggest a change through our code repository to start the discussion. </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
