<!--
Significant - Red - mnhx (USDS - #A8D6B8 | Guide - #f9dede)
Moderate - Yellow - s7ni (USDS - #BEF9F9 | Guide - #fff1d2)
No Impact - Blue - hyan (USDS - #FDE0A0 | Guide - #e1f3f8)
No Issues - Green - d52n (USDS - #FF99AF | Guide - #e7f4e4)
-->

<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Cambria, sans-serif;font-size:17px;padding:1px 10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Cambria, sans-serif;font-size:17px;font-weight:normal;padding:1px 10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg .tg-llyw{background-color:#aeb0b5;border-color:inherit;text-align:left;vertical-align:middle}
    .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:middle}
    .tg .tg-y698{background-color:#e4e2e0;border-color:inherit;text-align:left;vertical-align:middle}
    .tg .tg-mnhx{background-color:#f9dede;text-align:left;vertical-align:middle}
    .tg .tg-s7ni{background-color:#fff1d2;text-align:left;vertical-align:middle}
    .tg .tg-hyan{background-color:#e1f3f8;text-align:left;vertical-align:middle}
    .tg .tg-d52n{background-color:#e7f4e4;text-align:left;vertical-align:middle}
</style>
<table class="tg">
    <tr>
        <th class="tg-llyw">Federal Agency or Affiliate CA</th>
        <td class="tg-llyw">FPKIMA CA</td>
        <td class="tg-llyw">October 2020</td>
        <td class="tg-llyw">Average</td>
    </tr>
    <tr>
        <td class="tg-0pky">CertiPath Bridge CA - G2</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">99.98</td>
        <td class="tg-0pky">99.997</td>
    </tr>
    <tr>
        <td class="tg-0pky">CertiPath Bridge CA - G3</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">99.88</td>
        <td class="tg-0pky">99.97</td>
    </tr>
    <tr>
        <td class="tg-y698">DigiCert Federated ID L3 CA</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">99.96</td>
        <td class="tg-y698">99.995</td>
    </tr>
    <tr>
        <td class="tg-0pky">DoD Interoperability Root CA 2</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.99</td>
    </tr>
    <tr>
        <td class="tg-y698">Entrust Managed Services NFI Root CA</td>
        <td class="tg-y698">FBCA</td>
         <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td class="tg-0pky">Exostar Federated Identity Service Root CA</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.998</td>
    </tr>
    <tr>
        <td class="tg-y698">Federal Bridge CA 2016</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td class="tg-0pky">Federal Bridge CA G4</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td class="tg-y698">GPO PCA</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.79</td>
    </tr>
    <tr>
        <td class="tg-0pky">IdenTrust Global Common Root CA 1</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">99.98</td>
        <td class="tg-0pky">99.97</td>
    </tr>
    <tr>
        <td class="tg-y698">SAFE Bridge CA 02</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td class="tg-0pky">STRAC Bridge Root Certification Authority</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">99.91</td>
        <td class="tg-0pky">99.95</td>
    </tr>
    <tr>
        <td class="tg-y698">Symantec Class 3 SSP Intermediate CA - G3</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">99.96</td>
        <td class="tg-y698">99.99</td>
    </tr>
    <tr>
        <td class="tg-0pky">TSCP SHA256 Bridge CA</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">99.91</td>
        <td class="tg-0pky">99.992</td>
    </tr>
    <tr>
        <td class="tg-y698">USPTO_INTR_CA1</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.67</td>
    </tr>
     <tr>
        <td class="tg-0pky">WidePoint NFI Root 2</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.98</td>
    </tr>
    <tr>
        <td class="tg-y698">DigiCert SSP CA - G5</td>
        <td class="tg-y698">FCPCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.998</td>
    </tr>
    <tr>
        <td class="tg-0pky">Entrust Managed Services Root CA</td>
        <td class="tg-0pky">FCPCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.998</td>
    </tr>
    <tr>
        <td class="tg-y698">Federal Common Policy CA</td>
        <td class="tg-y698">FCPCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td class="tg-0pky">ORC SSP 4</td>
        <td class="tg-0pky">FCPCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.96</td>
    </tr>
    <tr>
        <td class="tg-y698">Symantec SSP Intermediate CA - G4</td>
        <td class="tg-y698">FCPCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td class="tg-0pky">U.S. Department of State AD Root CA</td>
        <td class="tg-0pky">FCPCA</td>        
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td class="tg-y698">US Treasury Root CA</td>
        <td class="tg-y698">FCPCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.998</td>
    </tr>
    <tr>
        <td class="tg-y698">Verizon SSP CA A2</td>
        <td class="tg-y698">FCPCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
</table>
