<meta name="viewport" content="width=device-width, initial-scale=1">
<!--
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
Red - mnhx (USDS - #A8D6B8 | Guide - #f9dede)
Yellow - s7ni (USDS - #BEF9F9 | Guide - #fff1d2)
Blue - hyan (USDS - #FDE0A0 | Guide - #e1f3f8)
Green - d52n (USDS-#FF99AF | Guide - #e7f4e4)
-->

<div class="container">
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}

        .tg td{font-family:Cambria, Georgia, serif;font-size:17px;padding:1px 10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
        .tg th{font-family:Cambria, Georgia, serif;font-size:17px;font-weight:normal;padding:1px 10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
        .tg .tg-mnhx{background-color:#f9dede;text-align:left;vertical-align:top}
        .tg .tg-s7ni{background-color:#fff1d2;text-align:left;vertical-align:top}
        .tg .tg-hyan{background-color:#e1f3f8;text-align:left;vertical-align:top}
        .tg .tg-d52n{background-color:#e7f4e4;text-align:left;vertical-align:top}
        .tg .tg-llyw{background-color:#aeb0b5;border-color:inherit;text-align:left;vertical-align:top}
        .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
        .tg .tg-y698{background-color:#e4e2e0;border-color:inherit;text-align:left;vertical-align:top}
        .tg .tg-0x09{background-color:#9b9b9b;text-align:left;vertical-align:top}
    </style>
    <table class="tg">
        <tr>
            <th class="tg-llyw">Federal Agency or Affiliate PKI</th>
            <th class="tg-llyw">FPKIMA CA</th>
            <th class="tg-llyw">Status</th>
        </tr>
        <tr>
            <td class="tg-0pky">CertiPath Bridge</td>
            <td class="tg-0pky">FBCA</td>
            <td class="tg-d52n">No Issues</td>
        </tr>
        <tr>
            <td class="tg-y698">Department of Defense</td>
            <td class="tg-y698">FBCA</td>
            <td class="tg-d52n">No Issues</td>
        </tr>
        <tr>
            <td class="tg-0pky">DigiCert/Symantec NFI</td>
            <td class="tg-0pky">FBCA</td>
            <td class="tg-d52n">No Issues</td>
        </tr>
        <tr>
            <td class="tg-y698">Entrust Managed Services NFI</td>
            <td class="tg-y698">FBCA</td>
            <td class="tg-d52n">No Issues</td>
        </tr>
        <tr>
            <td class="tg-0pky">Exostar NFI</td>
            <td class="tg-0pky">FBCA</td>
            <td class="tg-d52n">No Issues</td>
        </tr>
        <tr>
            <td class="tg-y698">Government Printing Office</td>
            <td class="tg-y698">FBCA</td>
            <td class="tg-d52n">No Issues</td>
        </tr>
        <tr>
            <td class="tg-0pky">IdenTrust NFI</td>
            <td class="tg-0pky">FBCA</td>
            <td class="tg-d52n">No Issues</td>
        </tr>
        <tr>
            <td class="tg-y698">WidePoint/ORC NFI</td>
            <td class="tg-y698">FBCA</td>
            <td class="tg-d52n">No Issues</td>
        </tr>
        <tr>
            <td class="tg-0pky">SAFE BioPharma Bridge</td>
            <td class="tg-0pky">FBCA</td>
            <td class="tg-d52n">No Issues</td>
        </tr>
        <tr>
            <td class="tg-y698">STRAC Bridge</td>
            <td class="tg-y698">FBCA</td>
            <td class="tg-d52n">No Issues</td>
        </tr>
        <tr>
            <td class="tg-0pky">TSCP Bridge</td>
            <td class="tg-0pky">FBCA</td>
            <td class="tg-d52n">No Issues</td>
        </tr>
        <tr>
            <td class="tg-y698">US Patent and Trademark Office (PTO)</td>
            <td class="tg-y698">FBCA</td>
            <td class="tg-d52n">No Issues</td>
        </tr>
        <tr>
            <td class="tg-0pky">Department of State</td>
            <td class="tg-0pky">FCPCA</td>
            <td class="tg-d52n">No Issues</td>
        </tr>
        <tr>
            <td class="tg-y698">DigiCert/Symantec/Verisign SSP</td>
            <td class="tg-y698">FCPCA</td>
            <td class="tg-d52n">No Issues</td>
        </tr>
        <tr>
            <td class="tg-0pky">Entrust Managed Services SSP</td>
            <td class="tg-0pky">FCPCA</td>
            <td class="tg-d52n">No Issues</td>
        </tr>
        <tr>
            <td class="tg-y698">WidePoint/ORC SSP</td>
            <td class="tg-y698">FCPCA</td>
            <td class="tg-d52n">No Issues</td>
        </tr>
        <tr>
            <td class="tg-0pky">Department of the Treasury</td>
            <td class="tg-0pky">FCPCA</td>
            <td class="tg-d52n">No Issues</td>
        </tr>
        <tr>
            <td class="tg-y698">Verizon Business SSP</td>
            <td class="tg-y698">FCPCA</td>
            <td class="tg-d52n">No Issues</td>
        </tr>
    </table>
    
    <h3>Federal Agency or Affiliate PKI Status Legend</h3>
    
    <table class="tg">
        <tr>
           <th class="tg-llyw">Status</th>
           <th class="tg-llyw">Description</th>
        </tr>
        <tr>
           <td class="tg-mnhx">Significant</td>
           <td class="tg-0pky">Technical and/or policy issues that will adversely affect interoperability</td>
        </tr>
        <tr>
           <td class="tg-s7ni">Moderate</td>
           <td class="tg-0pky">Technical and/or policy issues that may or may not adversely affect interoperability</td>
        </tr>
        <tr>
            <td class="tg-hyan">No Impact</td>
            <td class="tg-0pky">Technical and/or policy issues that will not adversely affect interoperability</td>
        </tr>
        <tr>
            <td class="tg-d52n">No Issues</td>
            <td class="tg-0pky">No technical or policy issues were found in the last thirty days</td>
        </tr>
    </table>
</div>