{% comment %}
This appears at the top of the page letting the user know it's an official government website
{% endcomment %}

<div class="page-landing-page layout-demo ">
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>
  <div class="usa-banner">
    <div class="usa-accordion">
      <header class="usa-banner__header">
        <div class="usa-banner__inner">
          <div class="grid-col-auto">
            {% asset us_flag_small.png class="usa-banner__header-flag" alt="U.S. flag" %}
          </div>
          <div class="grid-col-fill tablet:grid-col-auto">
            <p class="usa-banner__header-text">An official website of the United States government</p>
            <p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
          </div>
          <button class="usa-accordion__button usa-banner__button" aria-expanded="false" aria-controls="gov-banner">
            <span class="usa-banner__button-text">Here's how you know</span>
          </button>
        </div>
      </header>
      <div class="usa-banner__content usa-accordion__content" id="gov-banner">
        <div class="grid-row grid-gap-lg">
          <div class="usa-banner__guidance tablet:grid-col-6">
            {% asset icon-dot-gov.svg class="usa-banner__icon usa-media-block__img" alt="Dot gov" %}
            <div class="usa-media-block__body">
              <p>
                <strong>The .gov means it’s official.</strong>
                <br>
                Federal Government websites often end in .gov or .mil. Before sharing sensitive information, make sure
                you’re on a Federal Government site.
              </p>
            </div>
          </div>
          <div class="usa-banner__guidance tablet:grid-col-6">
            {% asset icon-https.svg class="usa-banner__icon usa-media-block__img" alt="Https" %}
            <div class="usa-media-block__body">
              <p>
                <strong>The site is secure.</strong>
                <br>
                The <strong>https://</strong> ensures that you are connecting to the official website and that any
                information you provide is encrypted and transmitted securely.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="usa-overlay"></div>
</div>
<!-- Message Center that Autoplays -->
<div id="messageCenter" class="carousel slide carousel-fade"  data-bs-ride="carousel">
  <div class="grid-container">
  <div class="grid-row">
  <div class="carousel-inner">
     <!-- Item Content Start -->
      <div class="carousel-item active" data-bs-interval="5000">
          <div class="usa-alert usa-alert--info">
              <div class="usa-alert__body">
                <h4 class="usa-alert__heading">Informative status</h4>
                <p class="usa-alert__text">
                  Lorem ipsum dolor sit amet,
                  <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a>
                  elit, sed do eiusmod.
                </p>
              </div>
          </div>
      </div>
      <!-- Item Content End -->         
      <div class="carousel-item" data-bs-interval="5000">
      <!-- Item Content Start -->
      <div class="usa-alert usa-alert--warning">
          <div class="usa-alert__body">
            <h4 class="usa-alert__heading">Warning status</h4>
            <p class="usa-alert__text">
              Lorem ipsum dolor sit amet,
              <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a>
              elit, sed do eiusmod.
            </p>
          </div>
        </div>
      <!-- Item Content End -->  
      </div>
      <div class="carousel-item" data-bs-interval="5000">
      <!-- Item Content Start -->
      <div class="usa-alert usa-alert--error" role="alert">
          <div class="usa-alert__body">
            <h4 class="usa-alert__heading">Error status</h4>
            <p class="usa-alert__text">
              Lorem ipsum dolor sit amet,
              <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a>
              elit, sed do eiusmod.
            </p>
          </div>
      </div>
      <!-- Item Content End -->  
      </div>
      <div class="carousel-item" data-bs-interval="5000">
      <!-- Item Content Start -->
      <div class="usa-alert usa-alert--success">
          <div class="usa-alert__body">
            <h4 class="usa-alert__heading">Success status</h4>
            <p class="usa-alert__text">
              Lorem ipsum dolor sit amet,
              <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a>
              elit, sed do eiusmod.
            </p>
          </div>
      </div>  
      <!-- Item Content End -->   
      </div>
      <div class="carousel-item" data-bs-interval="5000">
      <!-- Item Content Start -->
      <div class="usa-alert usa-alert--info usa-alert--no-icon">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            Lorem ipsum dolor sit amet,
            <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a>
            elit, sed do eiusmod.
          </p>
      </div>
      </div>
      <!-- Item Content End -->   
      </div>
      <div class="carousel-item" data-bs-interval="5000">
      <!-- Item Content Start -->
      <div class="usa-alert usa-alert--info usa-alert--slim">
          <div class="usa-alert__body">
            <p class="usa-alert__text">
              Lorem ipsum dolor sit amet,
              <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a>
              elit, sed do eiusmod.
            </p>
          </div>
      </div>
      <!-- Item Content End -->   
  </div>
  </div>
  </div>
</div>