{% comment %} 
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<!-- <section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h2 class="usa-hero__heading"><span class="usa-hero__heading--alt">FICAM:</span>Protecting Digital Identities & Assets
      </h2>
      <p>Use the FICAM Architecture to implement best practices in securing and protecting federal information systems.</p>
      <a class="usa-button" href="https://playbooks.idmanagement.gov" target="_blank" rel="noopener noreferrer">FICAM Architecture</a>
    </div>
  </div>
</section> -->



<div id="carouselExampleCaptions" class="carousel slide carousel-fade"  data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="150000">

      <section class="usa-hero">
        <div class="grid-container" style="border-right: #c0c0c0 solid 0.5;">
          <div class="usa-hero__callout">
            <h2 class="usa-hero__heading"><span class="usa-hero__heading--alt">Top 5:</span>Most Searched</h2>
            <ol>
              <li><a href="#">Link # 1 to Page</a></li>
              <li><a href="#">Link # 2 to Page</a></li>
              <li><a href="#">Link # 3 to Page</a></li>
              <li><a href="#">Link # 4 to Page</a></li>
              <li><a href="#">Link # 5 to Page</a></li>
            </ol>
        </div>      
      </section>

    </div>
    <div class="carousel-item" data-bs-interval="20000">

      <section class="usa-hero">
        <div class="grid-container" style="border-right: #c0c0c0 solid 0.5;">
          <div class="usa-hero__callout">
            <h2 class="usa-hero__heading"><span class="usa-hero__heading--alt">FICAM 1:</span>This is the first slide</h2>
            <p>Use the FICAM Architecture to implement best practices in securing and protecting federal information systems.</p>
            <a class="usa-button" href="https://playbooks.idmanagement.gov" target="_blank" rel="noopener noreferrer">FICAM Architecture</a>
          </div>
        </div>      
      </section>

    </div>
    <div class="carousel-item" data-bs-interval="30000">

      <section class="usa-hero">
        <div class="grid-container" style="border-right: #c0c0c0 solid 0.5;">
          <div class="usa-hero__callout">
            <h2 class="usa-hero__heading"><span class="usa-hero__heading--alt">FICAM 2:</span>This is the second slide</h2>
            <p>Use the FICAM Architecture to implement best practices in securing and protecting federal information systems.</p>
            <a class="usa-button" href="https://playbooks.idmanagement.gov" target="_blank" rel="noopener noreferrer">FICAM Architecture</a>
          </div>
        </div>
      </section>

    </div>
    <div class="carousel-item">

      <section class="usa-hero" data-bs-interval="50000">
        <div class="grid-container">
          <div class="usa-hero__callout">
            <h2 class="usa-hero__heading"><span class="usa-hero__heading--alt">FICAM 3:</span>This is the third slide</h2>
            <p>Use the FICAM Architecture to implement best practices in securing and protecting federal information systems.</p>
            <a class="usa-button" href="https://playbooks.idmanagement.gov" target="_blank" rel="noopener noreferrer">FICAM Architecture</a>
          </div>
        </div>      
      </section>

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>