{% comment %} 
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h2 class="usa-hero__heading"><span class="usa-hero__heading--alt">FICAM:</span>Modernize and operationalize federal identity guidance
      </h2>
      <p>Use our government enterprise developed content to operate secure and federated identity systems.</p>
      <a class="usa-button" href="{{ site.baseurl }}/intro-arch/">Architecture Guidance</a>
    </div>
  </div>
</section>