{% comment %} 
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h2 class="usa-hero__heading"><span class="usa-hero__heading--alt">FICAM:</span>Protecting Digital Identities & Assets
      </h2>
      <p>Use our federal enterprise identity playbooks to implement best practices in securing and protecting federal information systems.</p>
      <a class="usa-button" href="https://playbooks.idmanagement.gov" target="_blank" rel="noopener noreferrer">FICAM Playbooks</a>
    </div>
  </div>
</section>
