{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% asset ficampm-icon.png class="usa-media-block__img" alt="FICAM Program Management" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading"><a href="{{site.baseurl}}/ficampm/intro-pm/">Program Management</a></h3>
          <p>This guide describes how to build, operate, and maintain an ICAM Governance Body and Program Management Office.</p>
        </div>
      </div>
       <div class="usa-media-block tablet:grid-col">
        {% asset arch-icon.png class="usa-media-block__img" alt="FICAM Architecture" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">
           <!--<a href="{{site.baseurl}}/arch/intro-arch/">
           -->
            <a href="https://arch.idmanagement.gov/" target="_blank">Architecture<svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
  <use xlink:href="/assets/img/launch.svg"></use>
</svg></a> </h3>
          <p>This guides describes the basics of ICAM, the FICAM Architecture, and how to facilitate ICAM practices at your agency.</p>
        </div>
      </div>
    </div>
     
      <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% asset pki-icon.png class="usa-media-block__img" alt="Federal PKI" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading"><a href="{{site.baseurl}}/fpki/intro-fpki/">Federal PKI</a></h3>
          <p>This guide describes the structure, purpose, and current operational status of the Federal PKI.</p>
        </div>
        </div>
      <div class="usa-media-block tablet:grid-col">
        {% asset piv-icon.png class="usa-media-block__img" alt="Personal Identity Verification Guide" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading"><a href="{{site.baseurl}}/piv/intro-piv/">Personal Identity Verification (PIV)</a></h3>
          <p>This guide focuses on using PIV credentials for logical access such as authenticating to networks or applications, or digitally signing and encrypting.</p>
        </div>
      </div>
    </div>
    
       <div class="usa-graphic-list__row grid-row grid-gap">
        <div class="usa-media-block tablet:grid-col">
          {% asset pacs-icon.png class="usa-media-block__img" alt="Physical Access Control Systems Guide" %}
          <div class="usa-media-block__body">
            <h3 class="usa-graphic-list__heading"><a href="{{site.baseurl}}/pacs/intro-pacs/">Physical Access Control Systems</a></h3>
            <p>This guide focuses on helping understand the concepts related to building and operating a FICAM-compliant physical access control system (PACS).</p>
          </div>
        </div>
 <!--     
       <div class="usa-media-block tablet:grid-col">
        {% asset playbook-icon.png class="usa-media-block__img" alt="FICAM Playbooks" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading"><a href="{{site.baseurl}}/playbooks/">FICAM Playbooks</a></h3>
          <p>A playbook is a step-by-step companion to perform a FICAM process.</p>
        </div>
      </div>
-->
    </div>
  </div>
</section>
