{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Buy Products or Services</h3>
          <p>Interested in buying identity management products or services? See guidance on how to procure identity management products, systems, and services.</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Sell Products or Services</h3>
          <p>Are you a vendor interested in selling your identity product or service? Get your products and services approved for use by the federal government.</p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">FICAM Guides</h3>
          <p>A guide includes information on various topics and aimed to assist your agency in operating, maintinaing, and modernizing your identity systems.</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">FICAM Playbooks</h3>
          <p>A playbook is a step-by-step procedure on a specific topic, describing both overarching strategy and tactical approaches. </p>
        </div>
      </div>
    </div>
  </div>
</section>
