{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}

<!-- Start of first container -->
<section class="ficam-page-container">
	<div class="grid-container">
		<div class="partners-container grid-row">
			<div class="desktop:grid-col-12">

					<!-- Start of Carousel -->
					<div id="highlightsCarousel" class="carousel slide carousel-fade"  data-bs-ride="carousel">
						<div class="carousel-inner">
						
						<!-- Start Partner  1 Button -->
						<div class="carousel-item active" data-bs-interval="8000">
							<p>
							<ul class="usa-card-group">
								<li class="usa-card tablet:grid-col-3">
									<div class="usa-card__container">
										<div class="usa-card__header">
										  <h2 class="usa-card__heading">Vendors</h2>
										</div>
										<div class="usa-card__body">
										  <p>
											Sell your Identity, Credential, and Access Management (ICAM) products and services to the federal government.
										  </p>
										</div>
										<div class="usa-card__footer">
										  <button type="button" class="usa-button">Start Process</button>
										</div>
									</div>
								</li>
								<li class="usa-card tablet:grid-col-3">
									<div class="usa-card__container">
										<div class="usa-card__header">
										  <h2 class="usa-card__heading">Acquisition Professionals</h2>
										</div>
										<div class="usa-card__body">
										  <p>
											Adopt innovative Identity, Credential, and Access Management (ICAM) products and services to meet your agency’s mission-needs.
										  </p>
										</div>
										<div class="usa-card__footer">
										  <button type="button" class="usa-button">Start Research</button>
										</div>
									</div>
								</li>
								<li class="usa-card tablet:grid-col-3">
									<div class="usa-card__container">
										<div class="usa-card__header">
										  <h2 class="usa-card__heading">Program Managers</h2>
										</div>
										<div class="usa-card__body">
										  <p>
											Govern and operate FICAM-compliant systems and services.
										  </p>
										</div>
										<div class="usa-card__footer">
										  <button type="button" class="usa-button">Collaborate with Us</button>
										</div>
									</div>
								</li>
							</ul>
						</p>
						</div>
						<!-- End of Partner 1 Button -->
						<!-- Start of Top 5 Links -->
						<div class="carousel-item" data-bs-interval="8000">
							<p>
								<div class="usa-card__container">
									<div class="usa-card__header">
									  <h2 class="usa-card__heading">Top 5: Most Searched</h2>
									</div>
									<div class="usa-card__media usa-card__media--inset">
									  <!-- <div class="usa-card__img">
										<img
										  src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
										  alt="A placeholder image"
										/>
									  </div> -->
									</div>
									<div class="usa-card__body">
									  	<p>
											These are the most searched pages on <b>IDManagement.gov</b>.
											<ol>
												<li><a href="#">First most searched link here</a></li>
												<li><a href="#">Second most searched link here</a></li>
												<li><a href="#">Third most searched link here</a></li>
												<li><a href="#">Fourth most searched link here</a></li>
												<li><a href="#">Fifth most searched link here</a></li>
											</ol>
										</p>
									</div>
									<!-- <div class="usa-card__footer">
									  <button type="button" class="usa-button">Visit Florida Keys</button>
									</div> -->
								</div>
							</p>

					  	</div>
						<!-- End of Top 5 -->
					</div>
				<!-- End of Carousel -->

			</div>
		</div>
	</div>
</section>
  <!-- End of first container -->

<!-- Start of second container -->
<section class="usa-graphic-list usa-section usa-section--dark">
	<div class="grid-container">
	  <div class="usa-graphic-list__row grid-row grid-gap">
		 <div class="usa-media-block tablet:grid-col">
		  {% asset arch-icon.png class="usa-media-block__img" alt="FICAM Architecture" %}
		  <div class="usa-media-block__body">
			<h2 class="usa-graphic-list__heading"><a href="#">FICAM Architecture</a></h2>
			<p>Understand the basics of ICAM, the FICAM Architecture, and how to facilitate ICAM practices at your agency.</p>
		  </div>
		</div>
		<div class="usa-media-block tablet:grid-col">
		  {% asset ficampm-icon.png class="usa-media-block__img" alt="ICAM Program Management" %}
		  <div class="usa-media-block__body">
			<h2 class="usa-graphic-list__heading"><a href="#">ICAM Program Management</a></h2>
			<p>Build, operate, and maintain an ICAM Governance Body and Program Management Office.</p>
		  </div>
		</div>
	  </div>

		<div class="usa-graphic-list__row grid-row grid-gap">
		<div class="usa-media-block tablet:grid-col">
		  {% asset pki-icon.png class="usa-media-block__img" alt="Federal Public Key Infrastructure (FPKI)" %}
		  <div class="usa-media-block__body">
			<h2 class="usa-graphic-list__heading"><a href="#">Federal Public Key Infrastructure (FPKI)</a></h2>
			<p>This guide describes the structure, purpose, and current operational status of the FPKI.</p>
		  </div>
		 </div>
		<div class="usa-media-block tablet:grid-col">
		  {% asset piv-icon.png class="usa-media-block__img" alt="Personal Identity Verification (PIV)" %}
		  <div class="usa-media-block__body">
			<h2 class="usa-graphic-list__heading"><a href="#">Personal Identity Verification (PIV)</a></h2>
			<p>Use PIV credentials for logical access such as authenticating to networks or applications, or digitally signing and encrypting.</p>
		  </div>
		</div>
	  </div>

		 <div class="usa-graphic-list__row grid-row grid-gap">
		  <div class="usa-media-block tablet:grid-col">
			{% asset pacs-icon.png class="usa-media-block__img" alt="Physical Access Control Systems (PACS)" %}
			<div class="usa-media-block__body">
			  <h2 class="usa-graphic-list__heading"><a href="#">Physical Access Control Systems (PACS)</a></h2>
			  <p>Understand the concepts related to building and operating a FICAM-compliant PACS.</p>
			</div>
		  </div>

		 <div class="usa-media-block tablet:grid-col">
		  {% asset playbook-icon.png class="usa-media-block__img" alt="Other FICAM Playbooks" %}
		  <div class="usa-media-block__body">
			<h2 class="usa-graphic-list__heading"><a href="#">Other FICAM Playbooks</a></h2>
			<p>A step-by-step companion to perform a FICAM process.</p>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  <!-- End of second container -->