<!-- Message Center that Autoplays -->
<div id="messageCenter" class="carousel slide carousel-fade"  data-bs-ride="carousel">
    <div class="grid-container">
    <div class="grid-row">
    <div class="carousel-inner">
       <!-- Item Content Start -->
        <div class="carousel-item active" data-bs-interval="5000">
            <div class="usa-alert usa-alert--info">
                <div class="usa-alert__body">
                  <h4 class="usa-alert__heading">Informative status</h4>
                  <p class="usa-alert__text">
                    Lorem ipsum dolor sit amet,
                    <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a>
                    elit, sed do eiusmod.
                  </p>
                </div>
            </div>
        </div>
        <!-- Item Content End -->         
        <div class="carousel-item" data-bs-interval="5000">
        <!-- Item Content Start -->
        <div class="usa-alert usa-alert--warning">
            <div class="usa-alert__body">
              <h4 class="usa-alert__heading">Warning status</h4>
              <p class="usa-alert__text">
                Lorem ipsum dolor sit amet,
                <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a>
                elit, sed do eiusmod.
              </p>
            </div>
          </div>
        <!-- Item Content End -->  
        </div>
        <div class="carousel-item" data-bs-interval="5000">
        <!-- Item Content Start -->
        <div class="usa-alert usa-alert--error" role="alert">
            <div class="usa-alert__body">
              <h4 class="usa-alert__heading">Error status</h4>
              <p class="usa-alert__text">
                Lorem ipsum dolor sit amet,
                <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a>
                elit, sed do eiusmod.
              </p>
            </div>
        </div>
        <!-- Item Content End -->  
        </div>
        <div class="carousel-item" data-bs-interval="5000">
        <!-- Item Content Start -->
        <div class="usa-alert usa-alert--success">
            <div class="usa-alert__body">
              <h4 class="usa-alert__heading">Success status</h4>
              <p class="usa-alert__text">
                Lorem ipsum dolor sit amet,
                <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a>
                elit, sed do eiusmod.
              </p>
            </div>
        </div>  
        <!-- Item Content End -->   
        </div>
        <div class="carousel-item" data-bs-interval="5000">
        <!-- Item Content Start -->
        <div class="usa-alert usa-alert--info usa-alert--no-icon">
          <div class="usa-alert__body">
            <p class="usa-alert__text">
              Lorem ipsum dolor sit amet,
              <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a>
              elit, sed do eiusmod.
            </p>
        </div>
        </div>
        <!-- Item Content End -->   
        </div>
        <div class="carousel-item" data-bs-interval="5000">
        <!-- Item Content Start -->
        <div class="usa-alert usa-alert--info usa-alert--slim">
            <div class="usa-alert__body">
              <p class="usa-alert__text">
                Lorem ipsum dolor sit amet,
                <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a>
                elit, sed do eiusmod.
              </p>
            </div>
        </div>
        <!-- Item Content End -->   
    </div>
    </div>
    </div>
</div>

