<!-- Message Center that Autoplays -->
<div id="messageCenter" class="carousel slide carousel-fade grid-container"  data-bs-ride="carousel">
      <div class="carousel-inner" style="height: 100%;">
        <!-- Item Content Start -->
          <div class="carousel-item active" data-bs-interval="15000">
              <div class="usa-alert usa-alert--info">
                  <div class="usa-alert__body">
                    <h4 class="usa-alert__heading">Info</h4>
                    <p class="usa-alert__text">
                       Operational Status - Open, normal operations.
                    </p>
                  </div>
              </div>
          </div>
          <!-- Item Content End -->         
          <div class="carousel-item" data-bs-interval="15000">
          <!-- Item Content Start -->
          <div class="usa-alert usa-alert--warning">
              <div class="usa-alert__body">
                <h4 class="usa-alert__heading">Warning</h4>
                <p class="usa-alert__text">
                    Website is under development and content being updated.
                </p>
              </div>
          </div>
          <!-- Item Content End -->  
          </div>
          <div class="carousel-item " data-bs-interval="15000">
          <!-- Item Content Start -->
          <div class="usa-alert usa-alert--error">
              <div class="usa-alert__body">
                <h4 class="usa-alert__heading">Error</h4>
                <p class="usa-alert__text">
                    No errors reported.
                </p>
              </div>
          </div>
          <!-- Item Content End -->  
          </div>
      </div>
      <!-- <div class="carousel-indicators" style="margin-top:15px;">
        <button type="button" data-bs-target="#messageCenter" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#messageCenter" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#messageCenter" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div> -->
</div>