
<script>
  // Function to redirects user to a new page within the IDManagement website or external.  
  function redirect(){
    // Set default delay time
    var delaytime = 0;
    // Redirect page link: link that displays on page if delay is set above 0
    var pagelink = document.getElementById("pagelink");
    // Check to see if a delay value is supplied, if so, delay redirect by delay amount.
    // Note: delaytime is in milliseconds: 1 sec = 1000
    if((delaytime + '{{page.delaytime}}') > 0){
      window.setTimeout(function(){
          document.location = "{{page.redirect}}";
      }, delaytime + '{{page.delaytime}}');
    } else {
        document.location = "{{page.redirect}}";
    }
  }
  // Execute redirect function. 
  redirect();
</script>

<p>The address for <i>{{page.title}}</i> has changed, we are redirecting you to it's new location...</p>
<ul>
  <li><strong>Please update your bookmarks:</strong> <a href="{{page.redirect}}">{{page.redirect}}</a></li>
</ul>
