{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">This site is currently under construction.</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>Welcome to the new location for Federal Identity, Credential, and Access Management (FICAM) Playbooks! Over the next few weeks, we'll move each playbook to this website. Bookmark this URL for future reference.</p>
      <p>Don't see the guide you're looking for? <a href="https://www.idmanagement.gov/playbooks/" target="_blank">Click here to see a list of existing Playbooks</a>.</p>
    </div>
  </div>
</section>
