{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">This site is currently under construction.</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>Welcome to the new location for Federal Identity, Credential, and Access Management (FICAM) Playbooks! Over the next few weeks, we are consolidating the FICAM and FPKI Guides listed below to this new website. Bookmark this URL for future reference.</p>
    </div>
  </div>
</section>
