{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Your Destination for Federal Identity Resources</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>IDManagement.gov is a website about the Federal Identity, Credential, and Access Management (FICAM) program, which helps federal agencies enable access to systems and facilities for the right person, at the right time, for the right reason..</p>
      <p>The FICAM program supports federal agencies through the entire identity management lifecycle. We also work with vendors to test and approve FIPS 201 products and services for use by the federal government.</p>
    </div>
  </div>
</section>