// Import the US Web Design System SASS.

@import "uswds";
@forward "usa-icon";

// Add your SASS/CSS here
// .usa-hero {
//   background-image: asset_url("hero-image2-blur.png");
//   background-position: 50%;
//   background-size: cover;
//   height: 380px;
//   margin: 0px;
// }
.usa-hero {
  background-image: asset_url("new-header-graphic.png");
  //background-image: asset_url("hero-image2-blur.png");
  background-position: 50%;
  background-size: cover;
  height: 380px;
  margin: 0px;
}

// For source text at bottom of things -cjb
.gsa-source {
  padding-top: 8px;
  font-size: 10pt;
  color:rgb(136, 136, 136);
  margin-bottom: 2px;
}
// Fix problem with carousel's first slide not displaying at same width as proceeding slides and added tinting to cover busy images that are being selected as headers. 
.gsa-carousel-fix {
  width: 100%;
  padding: 20px;
 //background-color: rgba(#000000, 0.7);
}

.usa-sticky-sidenav {
  position: -webkit-sticky !important; 
  position: sticky !important; 
  top: 0 !important;
}

// default mode hide banner
.usa-banner__content {
  display: hidden;
}

.hero-text {
  color: #ffffff;
  font-size: 1.4rem;
}

.hero-heading {
  clear: both;
  font-family: Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
  font-size: 3.4rem;
  font-weight: 800;
  color: #00bde3;
  line-height: 1.2;
}

.carousel-content {
  height: 370;
}

// Hover for 6 front icon headers natural state and hover  
.showhover {
  font-size: 24px;
}
.showhover:hover {
  color: #00bde3;
  font-size: 24px;
}
.usa-hero__heading showhover {
  font-size: 24px;
}

// For bottom icon panel on front page, to cover blue with same image in header
.gsa-icon-panel {
  background-image: asset_url("bottom-panel-background.png");
  //background-image: asset_url("hero-image2-blur.png");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Links for top 5 lists */
.gsa-link {
  padding-bottom: 5px;
  padding-left: 8px;
  margin-top: 0px;
  border-bottom: 1px solid #c7c6c6;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  color: #214579;
}
/* last link in a list  */
.gsa-link-last {
  //padding-bottom: 5px;
  text-decoration: none;
  padding-left: 8px;
  margin-top: 0px;
  font-weight: bold;
  width: 100%;
  color: #214579;
}

/* Links for top 5 lists */
.gsa-link:hover {
  padding-bottom: 5px;
  padding-left: 8px;
  border-bottom: 1px solid #c7c6c6;
  margin-top: 0px;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  color: #ffffff;
  background-color: #cdcbcb;
}
/* last link in a list  */
.gsa-link-last:hover {
  //padding-bottom: 5px;
  margin-top: 0px;
  padding-left: 8px;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  color: #ffffff;
  background-color: #cdcbcb;
}

@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}
