--- 
--- 

@forward "uswds";
@forward "usa-accordion";
@forward "usa-icon";
@forward "uswds-theme";
@forward "uswds-theme-custom-styles";

// USWD Typography adjustments to fix width of text.
  // This also adjusts length of bullet points
  // Improves image sizes and readability
.usa-prose>p {
  max-width: 100%;
}
.usa-list li,.usa-prose>ol li,.usa-prose>ul li {
  max-width: 85%;
}
.usa-paragraph {
  max-width: 100%;
}


// CSS targets, not used for styling, keep empty, used in js to target classes.
.gsa-target-accordion-header {} // for accordion header targeting
.gsa-target-accordion-content-area {} // for accordion content targeting
.gsa-card{cursor: pointer;} // adds a pointer to a card.

// 508 contrast update for correct contrast color. 
.bg-accent-warm {
  background-color: #bf5906;
}

// 508 issue #516: top banner accordion button text color
// Contrast Ratio: 7.09 
.usa-banner__button {
  // color: #005ea2; previous 5.9
  color: #00528e;
}

// 508 issue #516: sidenav not currently selected or is a button
// Contrast Ration: 7.07
.usa-sidenav a:not(.usa-button):not(.usa-current) {
  // color: #565c65; previous 6.74
  color: #535961;
}

// 508 issue #516: 
// Recommend: default HTML5 link colors, may look dated but contrast remains high. 
.usa-link, a, .link-primary, a:hover {
  // color: #005ea2; previous
  color: #0000ee; 
}

// 508 Overide #540: # Line Height to 1.5
.usa-banner__header-text, .usa-identifier__identity-domain, .usa-identifier__identity-disclaimer, .footer-logo-text{
  line-height: 1.5;
}

// Important: Colors for H1 and H2 in usa-layout-docs element
// Updated to base in uswds css file (#005ea2)
// primary gsa colors are here: https://18f.gsa.gov/assets/blog/web-design-standards/library/14-primary-colors.png
.usa-layout-docs h1 {
  color:#005ea2;
}
.usa-layout-docs h2 {
  color:#005ea2;
}

// Use to undecorate a span of content withing an anchor tag
.gsa-no-dec {
  text-decoration: none;
  color: inherit;
}

// GSA Expand and Collapse buttons, used at the top of a list of accordions as an html button group
.expand-collapse-button-group {
  width: 200px;
  list-style: none;
  margin-bottom:0px;
}
// Collapse Button
.gsa-collapse-button {
  width:75px;
  background-color:#F0F0F0;
  text-align: center;
  font-size:22pt;
  color: #1b1b1b;
  // border: 0px;
  border-top-left-radius:10px;
  margin-right:0px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
  cursor: pointer;
  margin-bottom: 0px;
  float: right;
  margin-left: 2px;
}
// Collapse Button hover state
.gsa-collapse-button:hover,.gsa-collapse-button:focus {
  background-color: #dfe1e2;
  color: #1b1b1b;
  // outline: none;
  // border: 0px;
}
// Expand Button
.gsa-expand-button {
  width:75px;
  background-color:#F0F0F0;
  text-align: center;
  font-size:22pt;
  color: #1b1b1b;
  // border:0px;
  border-top-right-radius:10px;
  margin-left:1px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
  cursor: pointer;
  margin-bottom: 0px;
  float: right;
  margin-right: 2px;
}
// Expand Button hover and focus state
.gsa-expand-button:hover,.gsa-expand-button:focus {
  background-color: #dfe1e2;
  color: #1b1b1b;
  // outline: none;
  // border: 0px;
}


.usa-hero {
  //background-image: asset_url("new-header-graphic.png");
  background-image: url("{{site.baseurl}}/assets/images/new-background-30-fade.webp");
  background-position: 50%;
  background-size: cover;
  // height: 380px;
  height: auto;
  margin: 0px;
}

// To make both sides of a slide the same. see: _include/hero.html for element styles
.splide__slide {
  padding-left: 50px;
}

// Back to top button, displays in lower right corner after 500px of scroll.
.gsa-back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: 1px;
  outline: none;
  background-color: #00bde3; 
  // color: black;
  color: #212121;
  font-weight:600;
  cursor: pointer;
  padding: 15px;
  border-radius: 100%;
}

// Back-to-top button hover background color
.gsa-back-to-top:hover {
  background-color: #555;
  color:#ffffff;
}

// Card Shadow Effect, requesed by on 05-15-2023
.gsa-card-shadow {
  box-shadow:  0 3px 20px 0 rgba(0, 0, 0, 0.60);
}

// Responsive Hero for IDManagement
.gsa-responsive-hero {
  height:auto;
  min-width: 220px; 
}

// Hero text length shortener-er 
.gsa-text-width {
  // width: 95%;
  width: auto;
}

// GSA Slide positions and height: also see: gsa-responsive-hero
.gsa-slide {
  position: relative;
  // height: 380px;
  height:auto;
  display: flex;
  align-items: center;
}


// Top front panel
.gsa-top-panel {
  // background-color: #c8d9f2;
  background-color: #112e51;
}

// Lower front panel
.gas-lower-panel {
  //background-image: asset_url("new-header-graphic.png");
  background-image: url("{{site.baseurl}}/assets/images/lower_section_background.png");
  //background-image: asset_url("hero-image2-blur.png");
  background-position: 50%;
  background-size: cover;
  margin: 0px;
}

// Controls the height of small cards like ones on front of website.
.gsa-card-small {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 220px;
  padding-top: 0px;
  padding-bottom: 0px;
}

// For source text at bottom of accordions in faq and FICAM U  -cjb
.gsa-source {
  padding-top: 8px;
  font-size: 10pt;
  color:rgb(136, 136, 136);
  margin-bottom: 2px;
}
// Fix problem with carousel's first slide not displaying at same width as proceeding slides and added tinting to cover busy images that are being selected as headers. 
.gsa-carousel-fix {
  width: auto;
  padding: 20px;
 //background-color: rgba(#000000, 0.7);
}

// Use this to make accordion headings normal text
.gsa-normal-text {
  font-weight:500;
}

// Sticky Navigation fix
.usa-sticky-sidenav {
  position: -webkit-sticky !important; 
  position: sticky !important; 
  top: 0 !important;
}

// default mode hide banner
.usa-banner__content {
  display: hidden;
}

.hero-text {
  color: #ffffff;
  font-size: 1.4rem;
}

.hero-heading {
  clear: both;
  font-family: Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
  font-size: 3.4rem;
  font-weight: 800;
  color: #00bde3;
  line-height: 1.2;
  width: auto;
}


// constrain the height to keep the buttons on screen
.carousel-content {
  // height: 370;
  height: auto;
}

// Hover for 6 front icon headers natural state and hover  
.showhover {
  font-size: 24px;
}
.showhover:hover {
  color: #00bde3;
  font-size: 24px;
}
.usa-hero__heading showhover {
  font-size: 24px;
}

// For bottom icon panel on front page, to cover blue with same image in header
.gsa-icon-panel {
  background-image: url("{{site.baseurl}}/assets/images/bottom-panel-background.webp");
  //background-image: asset_url("hero-image2-blur.png");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Links for top 5 lists */
.gsa-link {
  padding-bottom: 5px;
  padding-left: 8px;
  margin-top: 0px;
  border-bottom: 1px solid #c7c6c6;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  color: #214579;
}
/* last link in a list  */
.gsa-link-last {
  //padding-bottom: 5px;
  text-decoration: none;
  padding-left: 8px;
  margin-top: 0px;
  font-weight: bold;
  width: 100%;
  color: #214579;
}

/* Links for top 5 lists */
.gsa-link:hover {
  padding-bottom: 5px;
  padding-left: 8px;
  border-bottom: 1px solid #c7c6c6;
  margin-top: 0px;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  color: #ffffff;
  background-color: #cdcbcb;
}
/* last link in a list  */
.gsa-link-last:hover {
  //padding-bottom: 5px;
  margin-top: 0px;
  padding-left: 8px;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  color: #ffffff;
  background-color: #cdcbcb;
}

.search-link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}

@media (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
  // Mobile Carousel adjustments
  .hero-heading {
    font-size: 2rem;
  }
  
  .hero-text {
    font-size: 1rem;
  }
  
  .usa-button {
    font-size: 0.9rem;
  }
}
