{% comment %}
This is used for just about every page. It provides the border around the content.
The home page uses wide.html layout, since it extends full width of page
{% endcomment %}

<!DOCTYPE html>

<html lang="en">

{% include meta.html %}

<body{% if site.c2pa.enabled %} data-c2pa-enabled="true" data-c2pa-site-url="{{ site.url | escape }}"{% endif %}{% if site.c2pa.test_credential %} data-c2pa-test-credential="true"{% endif %}>
  {% include header.html %}
  
  {% include menu.html primary_navigation=site.primary_navigation  secondary_navigation=site.secondary_navigation %}
  
  {{ content }}

  {% include footer.html %}

  {% include c2pa-disclosure.html %}
  {% include image-details-modal.html %}

  {% include scripts.html %}
</body>

</html>
