---
layout: default
---

<p><b>{{page.longName}}</b></p>

{% if page.description %}
<p> <b>Description:</b> {{page.description}}</p>
{% endif %}

{% if page.scope %}
<p><b>SCOPE:</b><br>
    {% for scope in page.scope %}
    {{ scope }}<br />
    {% endfor %}
</p>
{% endif %}

{% if page.ficam-services %}
<p><b>CATEGORIES:</b><br />
<ul>
    {% for category in page.ficam-services %}
    <li>
        <a href="{{site.baseurl}}/laws-policies-standards{{category | datapage_url: ficam-services }}">
            {{ category }}
        </a>
    </li>

    {% endfor %}
</ul>
</p>
{% endif %}

{% if page.published %}
{% if page.published | date: "%m%d" > 1001 %}
{% assign FY = page.published | date: "%Y" + 1 %}
{% else %}
{% assign FY = page.published | date: "%Y" %}
{% endif %}
<p><b>Publication Date:</b> {{page.published}}</p>
<p><b>Fiscal Year:</b> {{ FY }}</p>
{% endif %}

{% if page.authorized-by | size > 0 %}
<p><b>Authorized by:</b>
<ul>
    {% for reference in page.authorized-by %}
    <li>
        <a
            href="{{site.baseurl}}/laws-policies-standards{{reference.shortName | datapage_url: laws-policies-standards }}">
            {{reference.shortName}}
        </a>
    </li>
    {% endfor %}
</ul>
</p>
{% endif %}

{% if page.implemented-by | size > 0 %}
<p><b>Implemented by:</b>
<ul>
    {% for reference in page.implemented-by %}
    <li>
        <a
            href="{{site.baseurl}}/laws-policies-standards{{reference.shortName | datapage_url: laws-policies-standards }}">
            {{reference.shortName}}
        </a>
    </li>
    {% endfor %}
</ul>
</p>
{% endif %}

{% if page.subgroup-of | size >0 %}
<p><b>Subgroup of:</b></p>
<ul>
    {% for group in page.subgroup-of %}
    <li>
        <a href="{{site.baseurl}}/laws-policies-standards{{group.shortName | datapage_url: laws-policies-standards }}">
            {{group.shortName}}
        </a>
    </li>
    {% endfor %}
</ul>

{% endif %}

{% if page.authored-by | size > 0 %}
<p><b>Authored by:</b>
<ul>
    {% for reference in page.authored-by %}
    <li>
        <a
            href="{{site.baseurl}}/laws-policies-standards{{reference.shortName | datapage_url: laws-policies-standards }}">
            {{reference.shortName}}
        </a>
    </li>
    {% endfor %}
</ul>
</p>
{% endif %}

{% if page.rescinds | size > 0 %}
<p><b>Rescinds:</b>
<ul>
    {% for reference in page.rescinds %}
    <li>
        <a
            href="{{site.baseurl}}/laws-policies-standards{{reference.shortName | datapage_url: laws-policies-standards }}">
            {{reference.shortName}}
        </a>
    </li>
    {% endfor %}
</ul>
</p>
{% endif %}

{% if page.amends | size > 0 %}
<p><b>Amends:</b>
<ul>
    {% for reference in page.amends %}
    <li>
        <a
            href="{{site.baseurl}}/laws-policies-standards{{reference.shortName | datapage_url: laws-policies-standards }}">
            {{reference.shortName}}
        </a>
    </li>
    {% endfor %}
</ul>
</p>
{% endif %}

{% comment %}
If this is an Authority, find the elements authored by it.
{% endcomment %}
{% if page.type == "Authority" %}
<p>
    <b>Documents Written by {{page.shortName}}</b>
<ul>
    {% for item in site.data.laws-policies-standards %}
    {% if item.authored-by | size > 0 %}
    {% for author in item.authored-by %}
    {% if author.shortName == page.shortName %}
    <li>
        <a href="{{site.baseurl}}/laws-policies-standards{{item.shortName | datapage_url: laws-policies-standards }}">
            {{item.shortName}}
        </a>
    </li>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
</ul>
</p>
{% endif %}

{% comment %}
If this is an Authority, find the sub-groups under it.
{% endcomment %}
{% if page.type == "Authority" %}
<p>
    <b>Sub-groups under {{page.shortName}}</b>
<ul>
    {% for item in site.data.laws-policies-standards %}
    {% if item.subgroup-of | size > 0 %}
    {% for group in item.subgroup-of %}
    {% if group.shortName == page.shortName %}
    <li>
        <a href="{{site.baseurl}}/laws-policies-standards{{item.shortName | datapage_url: laws-policies-standards }}">
            {{item.shortName}}
        </a>
    </li>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
</ul>
</p>
{% endif %}

{% comment %}
If this is an Authority, find the programs it has implemented.
{% endcomment %}
{% if page.type == "Authority" %}
<p>
    <b>Programs implemented by {{page.shortName}}</b>
<ul>
    {% for item in site.data.laws-policies-standards %}
    {% if item.implemented-by | size > 0 %}
    {% for program in item.implemented-by %}
    {% if program.shortName == page.shortName %}
    <li>
        <a href="{{site.baseurl}}/laws-policies-standards{{item.shortName | datapage_url: laws-policies-standards }}">
            {{item.shortName}}
        </a>
    </li>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
</ul>
</p>
{% endif %}

{% comment %}
If this is a Law, find the elements authorized by it.
{% endcomment %}
{% if page.type == "Law" %}
<p>
    <b>Policies Authorized by {{page.shortName}}</b>
<ul>
    {% for item in site.data.laws-policies-standards %}
    {% if item.authorized-by | size > 0 %}
    {% for authorizer in item.authorized-by %}
    {% if authorizer.shortName == page.shortName %}
    <li>
        <a href="{{site.baseurl}}/laws-policies-standards{{item.shortName | datapage_url: laws-policies-standards }}">
            {{item.shortName}}
        </a>
    </li>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
</ul>
</p>
{% endif %}

{% comment %}
If this is a Law, find the elements amended by by it.
{% endcomment %}
{% if page.type == "Law" %}
<p>
    <b>Policies Amending {{page.shortName}}</b>
<ul>
    {% for item in site.data.laws-policies-standards %}
    {% if item.amends | size > 0 %}
    {% for amending in item.amends %}
    {% if amending.shortName == page.shortName %}
    <li>
        <a href="{{site.baseurl}}/laws-policies-standards{{item.shortName | datapage_url: laws-policies-standards }}">
            {{item.shortName}}
        </a>
    </li>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
</ul>
</p>
{% endif %}

{% comment %}
If this is a Policy, find the policies rescinding it.
{% endcomment %}
{% if page.type == "Policy" %}
<p>
    <b>Policies Rescinding {{page.shortName}}</b>
<ul>
    {% for item in site.data.laws-policies-standards %}
    {% if item.rescinds | size > 0 %}
    {% for element in item.rescinds %}
    {% if element.shortName == page.shortName %}
    <li>
        <a href="{{site.baseurl}}/laws-policies-standards{{item.shortName | datapage_url: laws-policies-standards }}">
            {{item.shortName}}
        </a>
    </li>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
</ul>
</p>
{% endif %}

{% if page.externalURL %}
<p><a href="{{ page.externalURL }}"><button class="usa-button" type="button">View {{page.type}}</button></a></p>
{% endif %}