---
layout: default
---

<h2>{{page.shortName}}</h2>

<p><b>{{page.longName}}</b></p>

<p>
    {% for category in page.FICAM_Service_Mapping %}
    {{ category }}<br />
    {% endfor %}
</p>

{% comment %}
Calculate Fiscal Year {{ page.published | date: "%m%d" }}
{% endcomment %}

{{ page.published }}


<p>Publication Date: {{page.published}} (FY: {{ page.fy }})</p>

<p>References:<br>
    {% for reference in page.hierarchyMapping %}
    <a
        href="{{site.baseurl}}/laws-policies-standards{{reference.shortName | datapage_url: laws-policies-standards }}">{{reference.shortName}}</a>
    <br />
    {% endfor %}
</p>

<p>Description: {{page.description}}</p>

<p><a href="{{page.externalUrl}}"><button class="usa-button" type="button">View Standard</button></a></p>