---
layout: default
---

<h2>{{page.shortName}}</h2>

<p><b>{{page.longName}}</b></p>

<p>
    {% for category in page.FICAM_Service_Mapping %}
    {{ category }}<br />
    {% endfor %}
</p>

<p>Publication Date: {{page.published}} (FY: {{ page.fy }})</p>

<p>References:
    {% for reference in page.hierarchyMapping %}
    {{ reference.shortName }} <br />
    {% endfor %}
</p>

<p>Description: {{page.description}}</p>

<p><a href="{{page.externalUrl}}"><button class="usa-button" type="button">View Standard</button></a></p>